<h2 class="current-filter"><%= params[:filter] %></h2>
<!-- If there is no games in specific genre a message will show -->
<% if @games.count == 0 %>

  <h2>There Are No Games Currently In This Genre</h2>

<% else%>


<!-- If there is games a game image will show in selected genre -->
<% @games.each do |game| %>


        <a href="/games/<%= game.id %>">
          <%= image_tag game.game_img.url(:game_index) %>
        </a>


  <% end %>

<% end %>
